.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background:#e1d6c8;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.page-wrapper {
  min-height: 78.8vh;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  background: #e1d6c8; 
  color: #b87333;
}



.loading-spinner {
  border: 5px solid #d1bfa3;    
  border-top: 5px solid #b87333; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 0.6rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main-content > .loading-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 0;
}


